version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: auth_postgres
    restart: always
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: auth
      POSTGRES_PASSWORD: auth_pass
      POSTGRES_DB: auth_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: